{% extends 'base_admin.html' %}

{% load staticfiles %}
{% load flight_tags %}
{% load tz %}

{% block title %}Dashboard - List Flights{% endblock title %}

{% block meta_description %}Dashboard - List Flights{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}{% endblock %}
{% block body %}
{% include 'admin_header_fragment.html' with flights=True %}
<div class="admin-content-wrap">
    <div class="block admin no-pb">
        <form id="flight_filter_form" method="get" action="" class="full-width">

            <div class="admin-page-header no-bb">
                <div class="fl">
                    <h1>Flights for Month of {{ month|date:"m/Y" }}</h1>
                </div>
            </div>
            <div class="control-row">
                {% if perms.accounts.can_edit_flights %}
                <div class="add-page-item">
                    <a href="{% url 'admin_add_flight' %}" class="add-page-item">+ Add New Flight</a>
                </div>
                {% endif %}
                <div class="add-page-item">
                    <a href="{% url 'admin_list_flights_month' now.year now.month %}">Month View&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class="add-page-item">
                    <a href="{% url 'admin_list_flights_week' now.year now.isocalendar.1 %}">Week View&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div>
        </form>
    </div>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Flight</th>
                <th>Departs / Arrives</th>
                <th>Length</th>
                <th>Repeats</th>
                <th>Plane</th>
                <th>Seats filled</th>
                <th>Load Factor</th>
                <th>Waitlist</th>
                <th>Alerts</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in object_list %}
                  {% ifchanged flight.local_departure_dateonly %}
                      <tr><td colspan="8"><h2><b>{{ flight.local_departure_dateonly }}</b></h2></td></tr>
                {% endifchanged %}
            <tr class="link-row" href="{% url 'admin_flight_detail' flight.pk %}">
                <td><b>{{ flight.flight_number }}</b></td>
                <td class="depart-arrive-cell"><b>{{ flight.origin.code|upper }}</b> {{ flight.local_departure|date:"m/d/y H:i e"}} <br> <b>{{ flight.destination.code|upper }}</b> {{ flight.local_arrival|date:"m/d/y H:i e"}}</td>
                <td>{{ flight.duration|simple_duration }}</td>
                <td class="repeats-cell">{% if flight.route_time %}<figure class="icon-repeat"></figure>&nbsp;&nbsp;&nbsp;{{ flight.route_time|route_time_days }}{% endif %}</td>
                <td>{{ flight.plane }}</td>
                <td class="seats-cell">{{ flight.seats_available|sub_seats:flight.seats_total }}/{{ flight.seats_total}}</td>
                <td class="seats-cell">{{ flight.seats_available|load_factor:flight.seats_total }}%</td>
                <td class="seats-cell">{{ waitlist|get_value:flight.id }}</td>
                <td class="center alert-cell">{% if flight.is_cancelled %}cancelled{% elif flight.is_delayed %}delayed{% elif flight.is_complete %}complete{% elif flight.is_inflight %}in-flight{% else %}on-time{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="block admin">
        <div class="fl">
            <a href="{% url 'admin_list_flights_month' previous_month.year previous_month.month %}">{{ previous_month }}</a>
        </div>

        <div class="fr">
            <a href="{% url 'admin_list_flights_month' next_month.year next_month.month %}">{{ next_month }}</a>
        </div>
    </div>
</div>

{% endblock body %}
