{% extends 'base_admin.html' %}

{% load staticfiles %}

{% block title %}Delete Flight {{ flight.flight_number }}{% endblock title %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}{% endblock %}

{% block body %}
{% include 'admin_header_fragment.html' with flights=True %}
<div class="admin-content-wrap admin-form-page">
    <h1>Delete <a href="{% url 'admin_flight_detail' flight.pk %}">Flight {{ flight.flight_number }}</a></h1>

    <h2 class="warning-message">THIS OPERATION CAN NOT BE UNDONE!</h2>

    {% if form.errors %}
    <div class="error-message">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        {{ error }}<br/>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}

        <div class="center">
            <button type="submit" class="green">Confirm</button>
        </div>
    </form>
    <div class="center">
        <a href="{% url 'admin_flight_detail' flight.pk %}" class="return-to-profile">&#9664; Return To Flight {{ flight.flight_number }}</a>
    </div>
</div>
{% endblock body %}
