{% extends 'accounts/notify.html' %}

{% block intro %}
<h2>A private air travel membership service</h2>
<p>Bypass remote airport parking, long lines, over-crowded flights and car rental buses. Just drive up, step aboard, and enjoy flying again.  We offer 3 levels of membership. You choose the level that’s best for you.</p>

<h2>One Monthly Fee. Fly All You Want</h2>
<p>Rise caters to the needs of frequent Texas travelers. We’re offering multiple scheduled flights a day between Dallas and Houston on weekdays, and Rise Fun Flights to Austin, Vail, Seaside and other destinations on weekends. We’ll add more cities and flights based on member preferences and demand.</p>

<h2>Starting at $1650 Per Month</h2>
<p>No long-term contracts and no hidden fees.</p>

<h2>Notify Me of Rise Updates</h2>
<p>Sign up to receive updates related to flight schedules, new destinations, promotions and special events. Optionally, you can let us know if you’d like to be notified as soon as we fly to any of the specific cities listed below.</p>
{% endblock intro %}
