{% extends 'base_admin.html' %}

{% load staticfiles %}
{% load humanize %}
{% load account_tags %}
{% load safe_settings %}

{% block title %}Register - {{ block.super }}{% endblock title %}

{% block meta_description %}Register - Register{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}register-account{% endblock %}
{% block body %}

<div class="content-wrap app-content-wrap">
    <div class="block center">
        <a href="/"><figure class="logo-form"></figure></a>
    </div>
</div>
    <div class="form block white">

        <form action="." method="POST" id="submit-profile-form">

            <h1 class="caps center">Welcome, {{ user.first_name }}</h1>

            <p class="center registration-text">Complete your profile to get started.</p>

            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
                {% endfor %}
            {% endif %}

            {% csrf_token %}

            {{ form.new_password1 }}

            {{ form.new_password2 }}

            <label for="{{ form.date_of_birth.auto_id }}">Date of Birth</label>
            {{ form.date_of_birth }}

  <div class="membership-table">
                {% for choice in form.member_plan.field.choices %}
                {% with plan=choice.2 %}
                    <div class="block row">
                        <div class="membership-level">
                            <h3>{{ plan.name }}</h3>
                            <div class="membership-price">
                                ${{ plan.amount|floatformat:0|intcomma }}
                            </div>
                            <span>{{ plan.description }}</span>
                        </div>
                        <div class="checkbox">
                            <input type="radio" name="{{ form.member_plan.name }}" value="{{ choice.0 }}" {% if form.member_plan.value|safe == choice.0|safe %}checked="checked"{% endif %} id="{{ plan.name }}">
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
            <div>
                <label class="check-radio-block background-check" id="{{ form.approve_membership_agreement.auto_id }}">{{ form.approve_membership_agreement }}<span>Accept <a target="_blank" href="{{ WP_URL }}/membership/">Membership Agreement</a></span></label>
            </div>

            <div>
                <label class="check-radio-block background-check" id="{{ form.approve_background_check.auto_id }}">{{ form.approve_background_check }}<span>Accept <a target="_blank" href="{{ WP_URL }}/terms/">Terms and Conditions</a></span></label>
            </div>
            <div>
                <label class="check-radio-block background-check" id="{{ form.approve_carriage_contract.auto_id }}">{{ form.approve_carriage_contract }}<span>Accept <a target="_blank" href="http://monarchair.com/section/contract-carriage">Contract of Carriage</a></span></label>
            </div>

            <div class="center">
                <button class="green" type="submit" id="submit-profile">Continue Profile Set Up</button>
            </div>
        </form>
    </div>
    <br/>
    <div class="block center">
        <a class="action-block grey" href="{{ WP_URL }}"><figure class="arrow-back"></figure>Return To Home</a>
    </div>
    <br/>
{% endblock body %}

{% block javascript %}
{{ block.super }}

{% endblock javascript %}
