{% extends 'base_admin.html' %}

{% load tz %}
{% load humanize %}

{% block body %}
    {% include 'admin_header_fragment.html' with accounts=True %}
    <div class="admin-content-wrap">
        <div class="" style="text-align: center;">

            <h1>Charge Detail</h1>
            <br/><br/>
            <table class="admin-table no-hover">
                <thead>
                    <th>Charge Type</th>
                    <th>Amount</th>
                    <th>Bill Date</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr {% if charge.has_failed %}class="error-background"{% endif %}>
                        <td>{% if charge.is_credit_card %}Credit Card{% elif charge.is_bank_account %}Bank Account{% else %}Manual{% endif %}</td>
                        <td>${{ charge.amount|floatformat:2|intcomma }}</td>
                        <td>{% localtime on %}{{ charge.created|date:"m/d/Y h:i A" }}{% endlocaltime %}</td>
                        <td>{{ charge.description|default:"" }}</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <br/>

            {% if charge.has_failed %}
                <p>
                    {{ charge.failure_message }}
                </p>
            {% endif %}

            {% if charge.is_refundable %}<a class="button green" href="{% url 'admin_account_charge_refund' charge.account_id charge.id %}">Issue Refund</a>
            {% elif charge.is_voidable %}<a class="button green" href="{% url 'admin_account_charge_void' charge.account_id charge.id %}">Void Charge</a>{% endif %}

            {% with refunds=charge.chargerefund_set.all %}
            {% if refunds %}
            <h2>Refunds</h2>
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Created</th>
                        <th>Refunded By</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for refund in refunds %}
                    <tr>
                        <td>${{ refund.amount|floatformat:2|intcomma }}</td>
                        <td>{{ refund.created|date:"m/d/Y h:i A" }}</td>
                        <td>{{ refund.created_by.get_full_name }}</td>
                        <td>{{ refund.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock body %}
