html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.chat-widget--login__input--submit input, .email-widget__input--submit input, .email-widget.confirmation .email-widget__input--submit {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 12px;
  font-size: 10.4px;
  width: 326px;
  background: #01af70;
  border: none;
  border-radius: 3px;
  margin: 42px auto 0;
  padding: 22px 15px; }
  .chat-widget--login__input--submit input:hover, .email-widget__input--submit input:hover, .email-widget.confirmation .email-widget__input--submit:hover {
    background: #01a56a; }

body {
  background: #132323; }

.chat-widget--login, .email-widget {
  max-width: 523px;
  margin: 0 auto;
  padding-top: 98px; }
  .chat-widget--login div[class*='__input'], .email-widget div[class*='__input'] {
    margin: 0 0 10px; }
    .chat-widget--login div[class*='__input'] input, .email-widget div[class*='__input'] input {
      position: static;
      height: auto; }
  .chat-widget--login label.invalid, .email-widget label.invalid {
    display: block;
    text-align: center;
    color: #e35740;
    font-size: 15px;
    font-weight: 300;
    background-image: url("http://f.cl.ly/items/2j3h1z1a3l0L3W0w3S2r/pattern-lines-white.png");
    background-size: 24px 46px;
    background-position: center center;
    background-repeat: repeat-x;
    padding: 10px 0;
    float: none; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .chat-widget--login label.invalid, .email-widget label.invalid {
        background-image: url("http://f.cl.ly/items/0A1J3P3h2l2q3S3g392d/pattern-lines-white@2x.png"); } }
  .chat-widget--login__title, .email-widget__title {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 23px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 47px; }
  .chat-widget--login__note, .email-widget__note {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a1b2b2;
    margin: 0 0 42px; }
  .chat-widget--login__logo, .email-widget__logo {
    display: block;
    max-width: 117px;
    margin: 0 auto 62px; }
  .chat-widget--login__label, .email-widget__label {
    display: block;
    font-size: 14px;
    color: #a1b2b2;
    margin-bottom: 7px; }
  .chat-widget--login__input--text input.default, .chat-widget--login__input--text textarea, .email-widget__input--text input.default, .email-widget__input--text textarea {
    font-size: 13px;
    background: #101e1e;
    padding: 22px 15px;
    border: none;
    color: #a1b2b2;
    outline: 0; }
    .chat-widget--login__input--text input.default:focus, .chat-widget--login__input--text textarea:focus, .email-widget__input--text input.default:focus, .email-widget__input--text textarea:focus {
      box-shadow: #01af70 0 0 4px 0; }

.email-widget__title {
  color: #132323; }

.chat-widget--login__input--submit input, .email-widget__input--submit input, .email-widget.confirmation .email-widget__input--submit {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 12px;
  font-size: 10.4px;
  width: 326px;
  background: #a1b2b2;
  border-radius: 3px;
  margin: 42px auto 0;
  padding: 22px 15px; }
  .chat-widget--login__input--submit input:hover, .email-widget__input--submit input:hover, .email-widget.confirmation .email-widget__input--submit:hover {
    background: #9badad; }

body {
  background: #eAe8e8; }

.email-widget__title {
  margin-bottom: 21px; }
.email-widget__input--text input.default, .email-widget__input--text textarea {
  background: #ffffff; }
.email-widget.confirmation .email-widget__note {
  line-height: 1.618;
  width: 360px;
  margin: 0 auto 42px; }
.email-widget.confirmation .email-widget__input--submit {
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  margin: 0 auto; }

/*# sourceMappingURL=email.css.map */
