.credit-cards {
  @include clearfix;
  padding: 15px 0;
  label {
    margin: 0;
  }
  .full-credit-card {
    @include clearfix;
  }
  .credit-card-head {
    font-weight: 700;
    text-rendering: optimizeLegibility;
  }
  .credit-card-information {
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
  }
  .credit-card-controls {
    float: right;
    width: 50%;
    margin-top: 25px;
    text-align: right;
    figure {
      margin-left: 16px;
    }
    a.small {
      text-transform: uppercase;
      display: block;
      margin-top: 21px;
    }
  }
}

ul.recent-history {
  width: 100%;
  text-align: left;
  margin: 0;
  li {
    @include clearfix;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid $grey2;
    padding: 10px 0;
    &:nth-child(2) {
      padding: 0 0 10px;
    }
    &.no-bb {
      border-bottom: 0;
    }
    span {
      display: block;
      width: 100%;
      float: left;
      &::first-line {
        font-weight: 700;
      }
    }
  }
  figure {
    margin-right: 8px;
  }
  td {
    float: left;
  }
  .mobile {
    display: none;
  }
  .label {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $sky;
  }
  .price {
    text-align: right;
    width: 54px;
  }
  div {
    display: inline-block;
    vertical-align: middle;
  }
  .change-info {
    @include calc(width, '100% - 58px');
  }
}

////\\\\ Tablet break
@media screen and (min-width: 768px) {
  .credit-cards {
    padding: 20px 0;
  }
  ul.recent-history {
    .mobile {
      display: initial;
      .label.one {
        width: 60%;
      }
      .label.two {
        width: 40%;
      }
    }
    .change-info {
      @include calc(width, '100% - 85px');
      span {
        width: 60%;
        &.move {
          width: 40%;
        }
      }
    }
    .price {
      text-align: left;
    }
    li:nth-child(2) {
      padding-top: 10px;
    }
  }
}