<nav class="booking">

  <div class="left-side">

    <div class="nav-button"><a href="{% url 'dashboard' %}" style="display: block"><figure class="logomark"></figure></a></div>
    {% if not hide_booking_breadcrumbs %}
    <div class="nav-breadcrumb {% if from %}active{% endif %}">
      <a href="{% url 'book_from' %}">
        <figure class="plane-green"></figure>
        <h4>Fly from <span class="origin-text">{{ origin_airport.code|default:"?" }}</span></h4>
      </a>
    </div>
    <div class="nav-breadcrumb {% if when %}active{% endif %} {% if from or similar %}hide{% endif %}">
      <a href="{% if booking_date and origin_airport %}{% url 'book_when' origin_airport.code %}{% endif %}">
        <figure class="plane-green"></figure>
        <h4>On <span class="date-text">{% if booking_date %}{{ booking_date|date:"d M"|upper }}{% else %}?{% endif %}</span></h4>
      </a>
    </div>
    <div class="nav-breadcrumb {% if flights %}active{% endif %} {% if from or when %}hide{% endif %}">
      <a href="{% if review_boking %}{% url 'book_flights' origin_airport.code booking_date.year booking_date.month booking_date.day %}{% endif %}">
        <figure class="plane-green"></figure>
        <h4>To <span id="nav-destination" class="date-text">{{ destination_airport.code|default:"?" }}</span></h4>
      </a>
    </div>
    {% endif %}
  </div>

  <div class="right-side">
    <div class="nav-button flights popover-button">
      {% with flight_reservation_count=reservation.flightreservation_set.count %}
      <figure class="plane-grey"></figure><h5 class="flight_reservation_count">{{ flight_reservation_count|default:"0" }}</h5>
      {% if flight_reservation_count and flight_reservation_count > 0 %}
      <div class="popover">
        <div class="block white">
            {% for flight_reservation in reservation.flightreservation_set.all %}
            <div class="actionable-row flight-reservation-{{ flight_reservation.id }}">
                <div class="left-side">
                    <div class="booked-flight-number"><em>{{ forloop.counter|stringformat:"02d" }}</em></div>
                    <div class="booked-flight-details">
                    <div class="origin"><h2>{{ flight_reservation.flight.origin.city }}, {{ flight_reservation.flight.origin.state }}</h2>&nbsp;<h4>{{ flight_reservation.flight.local_departure|date:"d M / h:i A" }}</h4><br/></div>
                    <figure class="flight-card-arrow-sm"></figure>
                    <div class="destination"><h2>{{ flight_reservation.flight.destination.city }}, {{ flight_reservation.flight.destination.state }}</h2>&nbsp;<h4>{{ flight_reservation.flight.local_arrival|date:"d M / h:i A" }}</h4></div>
                  </div>
                </div>
                <div class="actions">
                  <a class="cancel-flight-reservation" data-id=".flight-reservation-{{ flight_reservation.id }}" href="{% url 'book_cancel_flight_reservation' flight_reservation.id %}?next={{ request.path|urlencode }}"><figure class="x-green-sm"></figure></a>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="nav-button passes popover-button">
      <div><figure class="sms-passes"></figure><h5 class="total_available_passes">{{ user.account.total_available_passes }}</h5></div>
      <div><figure class="companion-passes"></figure><h5 class="total_available_companion_passes">{{ user.account.total_available_companion_passes }}</h5></div>
      <div class="popover">
        <h3>Passes Available</h3>
        <p><em class="total_available_passes">{{ user.account.total_available_passes }}</em> Available Legs Pass{{ user.account.total_available_passes|pluralize:"es" }}</p>
        <p><em class="total_available_companion_passes">{{ user.account.total_available_companion_passes }}</em> Companion Pass{{ user.account.total_available_companion_passes|pluralize:"es" }}</p>
      </div>
    </div>
    <div class="nav-button"><a href="{% url 'book_cancel' %}" style="display: block"><figure class="x-green-sm"></figure></a></div>
  </div>
</nav>

<div id="time_remaining_alert" class="dropdown-alert">
  <p class="thick">Just a heads up &mdash; you have <em id="time_remaining">three minutes</em> remaining to complete your flights before they are released</p>
  <a class="action-block green left">Ok, Thanks</a>
</div>

<div id="timeout-modal" class="modal-wrapper" style="display: block;">
    <div class="modal center">
        <figure class="x-grey-lg"></figure>
        <figure class="alert-icon"></figure>
        <p class="thick">Oops! Your time has run out. Please choose your flights again.</p>
      <a href="{% url 'book_from' %}" class="button green">Book a New Flight</a>
    </div>
</div>
