{% extends 'base.html' %}

{% load flight_tags %}
{% load staticfiles %}

{% block title %}Booking - {{ block.super }}{% endblock title %}

{% block meta_description %}Booking - Flights{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}booking flight-select{% endblock %}
{% block body %}

{% include 'reservations/book/booking_nav.html' with flights=True %}

<div class="content-wrap app-content-wrap">
  <div class="block white">
    <h1 class="center">Where would {% if user == booking_user %}you{% else %}{{ booking_userprofile.get_full_name }}{% endif %} like to fly to?</h1>
    {% if perms.accounts.can_manage_companions %}
    <div class="flight-table-filters rise-remove-borders format-companion-booking">
      <form id="companion_count" action="." method="POST">

        <div class="row riseapp-row">

          <div class="col-xs-12 col-sm-4">
            <div class="select arrow">
              <span class="value">Filter Results</span>
              <ul>
                  {% for value, text in filter_results_form.filters.field.choices %}
                  <li value="{{ value }}">{{ text }}</li>
                  {% endfor %}
              </ul>
              {{ filter_results_form.filters }}
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="select arrow">
              <span class="value">No. of Passengers</span>
              <ul>
                  {% for value, text in companion_form.companion_count.field.choices %}
                  <li value="{{ value }}">{{ text }}</li>
                  {% endfor %}
              </ul>
                {% csrf_token %}
                {{ companion_form.companion_count }}
            </div>
          </div>

          <div class="col-xs-12 col-sm-5">
            <div class="riseapp-row">
              <div class="col-xs-12 col-sm-6">
                <span><h1 class="riseapp-small">Are you flying too?</h1></span>
              </div>
              <div class="col-xs-12 col-sm-6 polar_selector_wrap">
                {{ companion_form.companions_only }}
                <div class="polar_selector_control_wrap riseapp-row">
                  <div class="col-xs-6">
                    <div class="select">
                      <label for="id_companions_only" class="polar_selector_negative">YES</label>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="select">
                      <label for="id_companions_only" class="polar_selector_positive">NO</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if companion_form.companions_only.error_messages %}
            <span>{{ companion_form.companions_only.error_messages.0 }}</span>
            {% endif %}
          </div>

        </div>

      </form>

    </div>
    {% endif %}
  </div>

  <div class="block white distribute flight-date-header">
    <h1 class="inline">Flights {{ date|date:'M d, Y' }}</h1><button type="button" class="inline grey toggle-chart-key">Chart Key</button>
  </div>
</div>

  <!--Table labels-->
  <div class="block row white flight-table table-labels">
    <div class="origin">
      Origin
    </div>
    <div class="arrow">&nbsp;</div>
    <div class="duration">
    </div>
    <div class="destination">
      Destination
    </div>
    <div class="flight-number"></div>
    <div class="actions"></div>
  </div>

  <!--Table row-->
  {% for flight in flights %}
    <div class="block row white flight-table {% if flight.is_available %}{% elif flight.is_booked %}unavailable{% else %}unavailable{% endif %}"
                        data-flight-id="{{ flight.pk }}"
                        data-destination="{{ flight.destination.code|upper }}"
                        data-similar="{% url 'book_similar_flights' flight_pk=flight.pk %}"
                        data-waitlist="{% url 'flight_waitlist' pk=flight.pk %}"
                        data-all-flights="true"
                        {% if not flight.is_full and flight.is_available %}data-seats-available="true"{% endif %}
                        {% if flight.is_fun_flight %}data-fun-flight="true"{% endif %}
                        {% if flight.is_promotional_flight %}data-promotional-flight="true"{% endif %}>
      <div class="origin">
        <div class="badge-wrap badge-right">
          <span class="airport {{ flight.origin.city|remove_spaces_lower_case }}">{{ flight.origin.code }} </span>
          <div class="badge-wrap">
            {% if flight.is_fun_flight %}<figure class="funflight-solid"></figure>{% endif %}
            {% if flight.is_promotional_flight %}<figure class="promo-solid"></figure>{% endif %}
          </div>
        </div>
        <div>
          <h1 class="city-name">{{ flight.origin.city }}, {{ flight.origin.state }}</h1>
          <span class="time">{{ flight.local_departure|time:"h:i A" }}</span>
        </div>
      </div>
      <div class="arrow">&nbsp;</div>
      <div class="duration">
        <span>{{ flight.duration|human_duration }}</span>
      </div>
      <div class="destination">
        <span class="airport {{ flight.destination.city|remove_spaces_lower_case }}">{{ flight.destination.code }} </span>
        <div>
          <h1 class="city-name">{{ flight.destination.city }}, {{ flight.destination.state }}</h1>
          <span class="time">{{ flight.local_arrival|time:"h:i A" }}</span>
        </div>
      </div>
      <div class="flight-number">
        {% if flight.is_promotional_flight %}
        <figure class="promo-solid"></figure>
        {% elif flight.is_fun_flight %}
        <figure class="funflight-solid"></figure>
        {% endif %}
        {{ flight.flight_number }}
      </div>
      <div class="actions">
        {% if flight.is_full or not flight.is_available %}
        <figure class="mag popover-button">
          <div class="popover">
            <a href="{% url 'book_similar_flights' flight_pk=flight.pk %}">Search for similar flights</a>
          </div>
        </figure>
        {% endif %}
       {% comment %} {% if flight.is_full or not flight.is_available %}
        <figure class="hourglass popover-button">
          <div class="popover">
            <h5>Flight Alert</h5>
            <ul>
              <li>SMS Text</li>
              <li>Email</li>
              <li><a href="{% url 'flight_waitlist' pk=flight.pk %}" class="waitlist">Add to Waitlist</a></li> {# TODO: make this a dynamic call #}
            </ul>
          </div>
        </figure>
        {% endif %}{% endcomment %}
      </div>
    </div>
{% endfor %}

<div class="content-wrap">

  <form action="." method="POST" class="fullscreen">
      {% csrf_token %}
      <input type="hidden" id="flight_id" name="flight" value="">
      <div id="flight_buttons" class="block center">
        <button name="complete" class="green disabled" disabled="disabled">Complete Booking</button>
        <div class="interstitial"><span class="lined">Or</span></div>
        <button name="add" class="dark-grey disabled" disabled="disabled">Add Another Flight</button>
      </div>
  </form>

</div>

<div class="mobile-chart-key center">
  <div class="block white">
    <h1>Chart Key</h1>
    <div class="block row left">
      <div class="key-icon"><figure class="promo"></figure></div><span>Promo Flight</span>
      <p>Rise is offering an a special promotional flight!</p>
    </div>
    <div class="block row left">
      <div class="key-icon"><figure class="funflight"></figure></div><span>Fun Flight</span>
      <p>Rise is offering an a special fun flight!</p>
    </div>
    <div class="block row left">
      <div class="key-icon upgrade"></div><span>Upgrade</span>
      <p>Upgrade your membership plan to book flights which are only available to certain tiers. You can easily upgrade
          in your Profile or by contacting Rise.</p>
    </div>
    <div class="block row left">
      <div class="key-icon full"></div><span>Flight Full</span>
      <p>All flights full on the day you want to leave? Select the day and sign up for Flight Alerts.</p>
    </div>
    <div class="block row">
      <a class="action-block grey"><figure class="x-grey-sm"></figure>Close</a>
    </div>
  </div>
</div>

<div class="mobile-actions center">
    <div class="block white">
        <h1>Flight Full!</h1>
        <div class="block row center">
            <p>The flight you selected is full.
If you join the Wishlist for this flight:
1) our RISE Ops team will be hard at work analyzing every potential solution to accommodate your current and future flight needs and,
2) you will be notified if a spot on this flight becomes available.
Thank you for providing us with this invaluable insight as we strive to build an even better RISE.</p>
            <a id="waitlist_link" href="" class="button green">Sign Up for Wishlist</a>
            <div class="interstitial"><span class="lined">Or</span></div>
            <a id="similar_link" href="" class="button dark-grey">Search Similar Flights</a>
        </div>
        <div class="block row">
          <a class="action-block grey"><figure class="x-grey-sm"></figure>Close</a>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/reservations.js' %}"></script>
{% endblock javascript %}
