<div id="upgrade_modal" class="modal-wrapper" style="display: block; z-index: 10000; opacity: 1;">
    <div class="modal center">
        <figure class="x-grey-lg"></figure>
        <h1 class="small">Successfully added to Waitlist.</h1>
            <p class="small">Upgrade to our most popular Executive or Chairman membership levels for additional
                reservations to book further in advance and avoid being waitlisted for flights.  Also receive a free
                companion pass each month, a $1,500 value.</p>
        <div class="block row center fake-table-row">
            <span class="plan-type">EXECUTIVE</span>
            <span class="plan-price">+ $500/Mo</span>
            <span class="plan-description">Two Trips at a Time</span>
        </div>
        <div class="block row center fake-table-row">
            <span class="plan-type">CHAIRMAN</span>
            <span class="plan-price">+ $1,000/Mo</span>
            <span class="plan-description">Four Trips at a Time</span>
        </div>
        <div class="block row center">
            <a href="#" data-plan="Executive" class="upgrade button green">Upgrade to Executive</a>
            <a href="#" data-plan="Chairman" class="upgrade button green">Upgrade to Chairman</a>
        </div>
        <a href="" class="dismiss action-block grey condensed">Not Now<figure class="arrow-right-grey"></figure></a>
    </div>
</div>

<div id="confirm_modal" class="modal-wrapper" style="display: none; z-index: 10000; opacity: 1;">
    <div class="modal center">
        <figure class="x-grey-lg"></figure>
        <figure class="alert-icon"></figure>
        <p class="thick">
            Confirm your upgrade to travel better.
        </p>
        <a href="#" id="confirm_upgrade" class="dismiss action-block grey condensed">Yes, continue<figure class="arrow-right-grey"></figure></a>
    </div>
</div>
