<div class="modal-wrapper" style="display: block; z-index: 10000; opacity: 1;">
    <div class="modal center">
        <figure class="x-grey-lg"></figure>
        <figure class="alert-icon"></figure>
        <p class="thick">
            You have been added to the waitlist for Flight {{ flight_waitlist.flight.flight_number }}. You can continue booking and will be notified if a seat becomes available.
        </p>
        <a href="" class="dismiss action-block grey condensed">Okay, got it<figure class="arrow-right-grey"></figure></a>
    </div>
</div>
