{% extends 'emails/base.html' %}

{% block title %}Payment Failed{% endblock title %}


{% block body %}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top" class="bodyContent">
            <div>
                <h1>{{ account.account_name }} Sign Up</h1>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="padding-top:0;">
            <table border="0" cellpadding="0" cellspacing="0" class="button">
                <tr>
                    <td valign="middle" width="250px">
                        <div>
                            <a href="{{ protocol }}://{{ site.domain }}{% url 'admin_account' account.pk %}">Account Detail</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock body %}
