{% extends 'emails/base_anywhere.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block body %}
<table border="0" cellpadding="40" cellspacing="0" width="100%" class="anywhere-email">
    <tr>
        <td>
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top" class="bodyContent">
                        <div>
                            <h1>{{ title }}</h1>


                            <p style="margin-bottom: 20px;">Your RISE ANYWHERE flight reservation has been confirmed!</p>
                            <p style="margin-bottom: 20px;">Passenger: {{ passenger.get_full_name }}</p>

                        </div>
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="4" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <hr />
                    </td>
                    <td width="120">
                        <h3 class="section-header" style="margin: 0;">Flight Details</h3>
                    </td>
                    <td>
                        <hr />
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <h2>{{ leg1.origin.name }}, {{ leg1.origin.state }} to {{ leg1.destination.name }}, {{ leg1.destination.state }}</h2>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="20" cellspacing="0" width="100%" class="flightDetails">
                <tr>
                    <td>
                        <h3 class="all-caps-header">Departing | {{leg1.departure|date:"M d, Y"}}</h3>

                        <h2 class="time">{{ leg1.local_departure_time_display}} {{ leg1.origin.get_timezone_display }}</h2>
                        <p class="location">{{ leg1.origin.name }} ({{ leg1.origin.code }})</p>

                        <center><div class="vertical-line centered"></div> </center>
                        <p class="duration">{{ leg1.duration }} MIN</p>
                        <center><div class="vertical-line centered"></div> </center>

                        <h2 class="time">{{ leg1.local_arrival_time_display}} {{ leg1.destination.get_timezone_display }}</h2>
                        <p class="location">{{ leg1.destination.name }} ({{ leg1.destination.code }})</p>

                    </td>
                    {% if leg2 != None %}
                    <td>
                        <h3 class="all-caps-header">Returning | {{leg2.departure|date:"M d, Y"}}</h3>
                        <h2 class="time">{{ leg2.origin.name }} ({{ leg2.origin.code }})</h2>
                        <p class="location">{{ leg2.local_departure_time_display}} {{ leg2.origin.get_timezone_display }}</p>


                        <center><div class="vertical-line centered"></div> </center>
                        <p class="duration">{{ leg2.duration }} MIN</p>
                        <center><div class="vertical-line centered"></div> </center>

                        <h2 class="time">{{ leg2.local_arrival_time_display}} {{ leg2.destination.get_timezone_display }}</h2>
                        <p class="location">{{ leg2.destination.name }} ({{ leg2.destination.code }})</p>
                    </td>
                    {% endif %}
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top" style="padding-top: 40px; padding-bottom: 20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <p style="text-align: left; font-size: 14px;">Plans change.  We're here to help.  Call 844-766-8313 to speak to a RISE representative.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding-top: 40px; padding-bottom: 40px;">
                        <table border="0" cellpadding="0" cellspacing="0" class="button">
                            <tr>
                                <td valign="middle" width="250px">
                                    <div>
                                        <a href="{{ protocol }}://{{ site.domain }}{% url 'anywhere_flight_info' public_key %}">View this Flight</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="http://cl.ly/100Q0H2k1E3j/footer-logo.png" width="119px" height="27px">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock body %}
