{% extends 'emails/base.html' %}

{% block body %}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top" class="bodyContent">
            <div>
                <h1>Welcome!</h1>
                You're now officially a member of the Rise community. Be on the look out for an email from <a href="mailto:members@iflyrise.com" target="_top">members@iflyrise.com</a> with information about completing your member profile, selecting a membership tier, and booking flights.<br>
                <br>
                Questions? Contact us at <a href="mailto:members@iflyrise.com" target="_top">members@iflyrise.com</a> or 844-FLY-RISE.<br>
            </div>
        </td>
    </tr>
    <tr class="rule">
        <td align="center" valign="top" class="payment_table">
            <table border="0" cellpadding="5" cellspacing="0" align="center" width="400px" >
                <tr>
                    <td valign="middle">
                        {{ charge.description }}
                    </td>
                    <td class="right">
                        ${{ charge.amount|floatformat:2 }}
                    </td>
                </tr>
                <tr class="total">
                    <td valign="middle">
                        Total
                    </td>
                    <td class="right">
                        ${{ charge.amount|floatformat:2 }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

{% endblock body %}
