{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Corporate Sign Up - {{ block.super }}{% endblock title %}

{% block body %}
<div class="section form-page">
    <div class="content-wrap">
        <a href="/" class="logo-form"><img src="{% static 'img/logo-form.png' %}" class="logo-form"></a>
        <div class="form">
          <section class="sign-up-section">
            <h2>CORPORATE MEMBERSHIP PRICE CALCULATOR</h2>

            <form action="." method="POST" id="sign-up">
                {% csrf_token %}

                {% if form.errors %}
                <div class="error-message">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  {{ error }}<br/>
                {% endfor %}
                {% endfor %}
                </div>
                {% endif %}

                {% if messages %}
                {% for message in messages %}
                    <div class="error-message">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="no-labels">
                    <label for="id_company">Company Name</label>
                    <input {% if form.company.errors %}class="error"{% endif %} type="text" name="{{ form.company.html_name }}" value="{{ form.company.value|default:"" }}" placeholder="Company Name" id="company"></input>
                    <label for="id_first_name">Your First Name</label>
                    <input {% if form.first_name.errors %}class="error"{% endif %} type="text" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value|default:"" }}" placeholder="Your First Name" id="first-name"></input>
                    <label for="id_last_name">Your Last Name</label>
                    <input {% if form.last_name.errors %}class="error"{% endif %} type="text" name="{{ form.last_name.html_name }}" value="{{ form.last_name.value|default:"" }}" placeholder="Your Last Name" id="last-name"></input>
                    <label for="id_email">Your Company Email</label>
                    <input {% if form.email.errors %}class="error"{% endif %} type="text" name="{{ form.email.html_name }}" value="{{ form.email.value|default:"" }}" placeholder="Your Company Email" id="email-address"></input>
                    <label for="id_phone">Your Phone Number</label>
                    <input {% if form.phone.errors %}class="error"{% endif %} type="text" name="{{ form.phone.html_name }}" value="{{ form.phone.value|default:"" }}" placeholder="Your Phone Number" id="phone-number"></input>
                </div>
                <span class="button green"><button type="submit"><h3 class="small">Use Calculator</h3></button></span>
                <p class="legal">By submitting this form you agree Rise is permitted to contact you regarding your membership and general updates. Rise will never sell or rent your information to a third party.</p>
            </form>

          </section>
        </div>
        <a href="/"><h3 class="small"><div class="arrow-left"></div>Return Home</h3></a>
    </div>
</div>
{% endblock body %}
