$dark_bg: #132323;
$light_bg: #eAe8e8;
$dark_input_bg: #101e1e;
$label_color: #a1b2b2;

$horizontal_rules: #d7e3e3;

$white: #ffffff;
$green: #01af70;
$light_green: rgba(#01af70, 0.35);
$red: #e35740;
$ash: #eae8e8;
