{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Password Reset Done - {{ block.super }}{% endblock title %}

{% block meta_description %}Password Reset Done{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}registration password-reset{% endblock %}

{% block body %}
<div class="section">
    <div class="content-wrap group">
        <div class="center">
            <a href="/"><figure class="logo-form"></figure></a>
        </div>
        <div class="form white-bg">
            <h1>Password Reset Complete</h1>

            <div class="center">
                <a href="{% url 'login' %}" class="button green">Login</a>
            </div>
        </div>
        <br/><br/>
        <div class="block center">
            <a href="{{ WP_URL }}" class="return"> &#9664; Return to Home</a>
        </div>
    </div>
</div>
{% endblock body %}

{% block footer %}
{% endblock footer %}
