{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Reset Password - {{ block.super }}{% endblock title %}

{% block meta_description %}Reset Password - {% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}registration reset-password{% endblock %}

{% block body %}
<div class="section">
    <div class="content-wrap group">
        <div class="center">
            <a href="/"><figure class="logo-form"></figure></a>
        </div>
        <div class="form white-bg">
            <form action="." method="POST" class="group" class="">
                {% csrf_token %}
                <h1>Reset Password</h1>

                {% if form.errors %}
                <div class="error-message">
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                {% if messages %}
                {% for message in messages %}
                <div class="error-message">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="no-labels">
                    <label for="id_email">Email</label>
                    <input id="id_email" type="email" name="{{ form.email.html_name }}" maxlength="254" placeholder="Email" value="{{ form.email.value|default:"" }}">
                </div>
                <br/>
                <hr/>
                <div class="center">
                    <button type="submit" class="button green">Reset</button>
                    <p>Don't have an account? <a href="{% url 'invite_form' %}">Sign Up!</a></p>
                </div>
            </form>
        </div>
        <br/><br/>
        <div class="block center">
            <a href="{{ WP_URL }}" class="return"> &#9664; Return to Home</a>
        </div>
    </div>
</div>
{% endblock body %}

{% block footer %}{% endblock footer %}
