{% extends 'base.html' %}
{% load humanize %}

{% load staticfiles %}
{% load safe_settings %}

{% block title %}Edit Profile - {{ block.super }}{% endblock title %}

{% block meta_description %}Basic Information - Manage Account{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}{% endblock %}
{% block body %}
{% include 'account_profile/dashboard_nav.html' %}
<div class="section profile-body">
    {% include 'account_profile/profile-sidenav-mobile.html' with billing_info=True %}
    <div class="content-wrap app-content-wrap no-mt-mobile edit group">
    {% include 'account_profile/profile-sidenav.html' with billing=True %}
        <div class="profile-content-wrap">
            <div class="detail group no-labels">
                <h1>Add New Credit Card</h1>

                {% if not user.account.onboarding_fee_paid and user.account.get_onboarding_fee_total > 0 %}
                {% if user.account.is_corporate %}
                <div class="deposit-charge-alert error-message center">
                    <p style="line-height: 21px;">Your account includes
                        {{ user.account.member_count }} team member{{ user.account.member_count|pluralize:"s" }}. Your
                        ${{ user.account.get_onboarding_fee_total|intcomma }} (${% settings_value "DEPOSIT_COST" %}/member)
                        deposit fee (+ {% settings_value "DEPOSIT_TAX_PERCENT" %} sales tax) will be charged, and you can
                        check out the flight booking tool as soon as you verify your account.</p>
                </div>
                {% else %}
                <div class="deposit-charge-alert error-message center">
                    <p style="line-height: 21px;">Your ${% settings_value "DEPOSIT_COST" %} deposit fee (+
                        {% settings_value "DEPOSIT_TAX_PERCENT" %} sales tax) will be charged, and you can check out the
                        flight booking tool as soon as you verify your account.</p>
                </div>
                {% endif %}
                {% endif %}

                {% if form.errors %}
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
                {% endfor %}
                {% endif %}

                <form id="credit_card_form" action="." method="POST">
                    {% csrf_token %}

                    <label for="cc-number">Credit Card Number</label>
                    <input type="text" id="cc-number" placeholder="Credit Card Number" data-stripe="number" data-braintree-name="number" />

                    <label for="cc-month">Month</label><input type="text" id="cc-month" placeholder="MM" maxlength="2" pattern="\d*" data-stripe="exp-month" data-braintree-name="expiration_month" />
                    <label for="cc-year">Year</label><input type="text" id="cc-year" placeholder="YYYY" maxlength="4" pattern="\d*" data-stripe="exp-year" data-braintree-name="expiration_year" />
                    <label for="cc-ccv">CVC</label><input type="text" id="ccv" placeholder="CVC" autocomplete="off" pattern="\d*" data-stripe="cvc" data-braintree-name="cvv" />

                    <label for="{{ form.nickname.auto_id }}">Nickname</label>
                    {{ form.nickname.errors }}
                    {{ form.nickname }}
                    <span class="item-title">Set Default</span>
                        {{ form.is_default.errors }}
                        {{ form.is_default }}
                    <label for="{{ form.street_1.auto_id }}">Billing Address</label>
                    {{ form.street_1.errors }}
                    {{ form.street_1 }}

                    <label for="{{ form.street_2.auto_id }}">Billing Address</label>
                    {{ form.street_2.errors }}
                    {{ form.street_2 }}

                    <label for="{{ form.city.auto_id }}">Billing City</label>
                    {{ form.city.errors }}
                    {{ form.city }}

                    <div class="distribute equal-width">

                    <label for="{{ form.state.auto_id }}">Billing State</label>
                    {{ form.state.errors }}
                    <div class="select arrow">
                      <span class="value">{{ form.state.value|default:"Select" }}</span>
                      <ul>
                          {% for value, text in form.state.field.choices %}
                          <li value="{{ value }}">{{ text }}</li>
                          {% endfor %}
                      </ul>
                      {{ form.state }}
                    </div>

                    <label for="{{ form.postal_code.auto_id }}">Billing Zip Code</label>
                    {{ form.postal_code.errors }}
                    {{ form.postal_code }}
                    </div>
                    <button type="submit" class="button green" id="submit_credit_form">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% with onboarding_fee=user.account.get_onboarding_fee_total %}
{% if not user.account.onboarding_fee_paid and onboarding_fee > 0 %}
<div id="credit_deposit_modal" class="modal-wrapper" style="z-index: 10000; opacity: 1;">
    <div class="modal center">
        <figure class="x-grey-lg"></figure>
        <figure class="alert-icon"></figure>
        <p class="thick">Your ${{ onboarding_fee|floatformat:2|intcomma }} deposit will be charged immediately after you add your card.</p>
        <div class="action-wrapper">
            <a href="{% url 'profile_billing' %}" class="grey condensed"><figure class="arrow-left-grey"></figure> Cancel</a> |
            <a id="confirm_credit_deposit" href="" class="grey condensed">Accept<figure class="arrow-right-grey"></figure></a>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

{% endblock body %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/binaryajax.min.js' %}"></script>
    <script src="{% static 'js/exif.min.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script charset="utf-8">
        var BRAINTREE_CLIENT_TOKEN = '{{ client_token }}';
    </script>
    <script type="text/javascript" src="{% static 'js/jquery.payment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
{% endblock javascript %}
