{% load staticfiles %}

<div class="sidenav desktop">
    <div class="avatar">
      <div class="badge-wrap badge-right">
        <div class="circle large no-m" style="background:url({{ user.avatar_url }}) 0 0 no-repeat;background-size:100% 100%" id="avatar-image">
            <!--<img src="{{ user.avatar_url }}">-->
        </div>
        <div class="badge-wrap">
            <form action="{% url 'profile_avatar' %}" method="POST" id="update-avatar" class="bare group" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="avatar" value="{{ user.avatar }}" id="avatar-file-input" accept="image/*" style="display:none"></input>
            </form>
            <a href="avatar" id="change-avatar"><figure class="camera-circle"></figure></a>
        </div>
      </div>
    </div>
    <div class="expandable-wrap">
        <div class="sidenav-header">
            <div class="toggle-expandable">
                <h2>Manage Account</h2>
                <div class="current-page">Page Title</div>
                <p>Signed in as {{ user.first_name }}</p>
                <a href="{% url 'logout' %}">Sign Out</a>
            </div>
        </div>
        <div class="expandable-height desktop">
            <ul class="profile-menu">
                <li>
                    <a href="{% url 'profile' %}" {% if profile %}class="sidenav-active"{% endif %}>
                        Basic Info
                        <img src="{% static 'img/arrow-right-nav-green.png' %}">
                    </a>
                </li>
                {% if perms.accounts.can_manage_plan %}
                <li>
                  <a href="{% url 'profile_plan' %}" {% if plan %}class="sidenav-active"{% endif %}>
                    Plan Options
                    <img src="{% static 'img/arrow-right-nav-green.png'%}">
                  </a>
                </li>
                {% endif %}
                {% if perms.accounts.can_manage_billing %}
                <li>
                  <a href="{% url 'profile_billing' %}" {% if billing %}class="sidenav-active"{% endif %}>
                    Billing Info
                    <img src="{% static 'img/arrow-right-nav-green.png' %}">
                  </a>
                </li>
                {% endif %}
                {% if user.account.is_corporate and perms.accounts.can_manage_team %}
                <li>
                  <a href="{% url 'profile_members' %}" {% if companion %}class="sidenav-active"{% endif %}>
                    Team Members
                    <img src="{% static 'img/arrow-right-nav-green.png' %}">
                  </a>
                </li>
                {% elif perms.accounts.can_manage_companions %}
                <li>
                  <a href="{% url 'profile_companions' %}" {% if companion %}class="sidenav-active"{% endif %}>
                    Companions
                    <img src="{% static 'img/arrow-right-nav-green.png' %}">
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{% url 'profile_notifications' %}" {% if notification %}class="sidenav-active"{% endif %}>
                    Notifications
                    <img src="{% static 'img/arrow-right-nav-green.png' %}">
                  </a>
                </li>
                {% if perms.accounts.can_manage_invites %}
                  <li>
                    <a href="{% url 'profile_invitations' %}" {% if invitation %}class="sidenav-active"{% endif %}>
                      Invitations
                      <img src="{% static 'img/arrow-right-nav-green.png' %}">
                    </a>
                  </li>
                {% endif %}
               {% if user.account.contract %}
                     <li>
                    <a href="{% url 'contract_view' %}" {% if contract %}class="sidenav-active"{% endif %}>
                      View Contract
                      <img src="{% static 'img/arrow-right-nav-green.png' %}">
                    </a>
                  </li>
                {% endif %}
                <!-- <li class="desktop">
                  <a href="/profile/personal-info/" {% if personal %}class="sidenav-active"{% endif %}>
                    Personal Info
                    <img src="{% static 'img/arrow-right-nav-green.png' %}">
                  </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
