{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Reservations - {{ block.super }}{% endblock title %}

{% block meta_description %}Reservations - Manage Account{% endblock meta_description %}

{% block css %}
{% with marketing=False%}
{{ block.super }}
{% endwith %}
{% endblock css %}

{% block body_class %}corporate{% endblock %}
{% block body %}

{% include 'account_profile/dashboard_nav.html' with reservations=True %}

<div class="dashboard-reservations corporate">
    <div class="content-wrap app-content-wrap">
        <div class="reservation-page-controls">
            <h1 class="fl">{{ member.get_full_name }} Reservations</h1>
            <div class="fr">
                {% comment %}
                <div class="profile-page-control">
                <input type="search" placeholder="Search" class="dark reveal">
                <div class="select dark sort-page-control">
                <span class="value">Select</span>
                <ul>
                <li value="1">Option 1</li>
                <li value="2">Option 2</li>
                <li value="3">Option 3</li>
            </ul>
            <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>
{% endcomment %}
</div>
</div>


<div class="block white">

    <!-- Mobile member reservations -->
    {% if flight_reservations %}
           <h2>Confirmed Reservations</h2>
    <div class="member-reservations-mobile member-reservations">
        {% for flight_reservation in flight_reservations %}
            {% include "account_profile/flight_lists/flight-reservation-entry_team.html" with reservation_entry=flight_reservation %}

            {% comment %}
                zen8bit:
                    - I'm new to the project so I don't know the difference between the entries for 'team' and 'member'.
                    - Most likely they're the same and member is just a deprecated version of team.
                    - If thats not the case, replace the include from above with the include in this comment. (2 occurances on the page)

                {% include "account_profile/flight_lists/flight-reservation-entry_member.html" with reservation_entry=flight_reservation %}
            {% endcomment %}
        {% endfor %}
    </div>

    <!-- Desktop member reservations -->
    <table class="member-reservations-desktop member-reservations">
        <thead>
            <tr>
                <th>Member</th>
                <th>Flight No.</th>
                <th>Origin / Destination</th>
                <th>Date / Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for flight_reservation in flight_reservations %}
            <tr class="reservation-row {% if flight_reservation.is_cancelled %}cancelled{% else %}fadeIn{% endif %}">
                <td>
                    <div class="badge-wrap badge-left">
                        <div class="circle medium no-m" style="background:url({{ flight_reservation.primary_passenger.user.avatar_url }}) 0 0 no-repeat;background-size:100% 100%" id="avatar-image"></div>
                        {% if flight_reservation.flight.is_fun_flight %}
                        <div class="badge-wrap">
                            <figure class="funflight-solid"></figure>
                        </div>
                        {% elif flight_reservation.flight.is_promotional_flight %}
                        <div class="badge-wrap">
                            <figure class="promo-solid"></figure>
                        </div>
                        {% endif %}
                    </div>
                    <b>{{ flight_reservation.primary_passenger.userprofile.get_full_name }}</b>
                </td>
                <td class="t-gothic sky">{{ flight_reservation.flight.flight_number }}</td>
                <td class="t-gothic">
                    {{ flight_reservation.flight.origin.code}}
                    <figure class="flight-arrow-right-green spacer"></figure>
                    {{ flight_reservation.flight.destination.code }}
                </td>
                <td class="t-gothic sky">{{ flight_reservation.flight.local_departure|date:"d M / h:i A" }}</td>
                <td class="details-cell center"><a href="{% url 'reservation_detail' flight_reservation.id %}"><figure class="icon-info"></figure></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert">
        <div class="badge"><figure class="alert-icon"></figure></div>
        <p>{{ member.get_full_name }} has no upcoming confirmed reservations</p>
    </div>
    {% endif %}

 {% if waitlist %}
           <h2>WAITLISTED FLIGHTS</h2>
    <div class="member-reservations-mobile member-reservations">
        {% for req in flight_reservations %}
            {% include "account_profile/flight_lists/waitlist_team.html" with reservation_entry=req %}

            {% comment %}
                zen8bit:
                    - I'm new to the project so I don't know the difference between the entries for 'team' and 'member'.
                    - Most likely they're the same and member is just a deprecated version of team.
                    - If thats not the case, replace the include from above with the include in this comment. (2 occurances on the page)

                {% include "account_profile/flight_lists/flight-reservation-entry_member.html" with reservation_entry=flight_reservation %}
            {% endcomment %}
        {% endfor %}
    </div>

    <!-- Desktop member reservations -->
    <table class="member-reservations-desktop member-reservations">
        <thead>
            <tr>
                <th>Member</th>
                <th>Flight No.</th>
                <th>Origin / Destination</th>
                <th>Date / Time</th>
                <th>Cancel Waitlist</th>
            </tr>
        </thead>
        <tbody>
            {% for req in waitlist %}
            <tr class="reservation-row fadeIn">
                <td>
                    <div class="badge-wrap badge-left">
                        <div class="circle medium no-m" style="background:url({{ flight_reservation.primary_passenger.user.avatar_url }}) 0 0 no-repeat;background-size:100% 100%" id="avatar-image"></div>
                        {% if req.flight.is_fun_flight %}
                        <div class="badge-wrap">
                            <figure class="funflight-solid"></figure>
                        </div>
                        {% elif req.flight.is_promotional_flight %}
                        <div class="badge-wrap">
                            <figure class="promo-solid"></figure>
                        </div>
                        {% endif %}
                    </div>
                    <b>{{ req.userprofile.get_full_name }}</b>
                </td>
                <td class="t-gothic sky">{{ req.flight.flight_number }}</td>
                <td class="t-gothic">
                    {{ req.flight.origin.code}}
                    <figure class="flight-arrow-right-green spacer"></figure>
                    {{ req.flight.destination.code }}
                </td>
                <td class="t-gothic sky">{{ req.flight.local_departure|date:"d M / h:i A" }}</td>
                <td class="details-cell center"><a href="{% url 'cancel_waitlist' req.id %}"><figure class="icon-cancel"></figure></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

 {% if pending_reservations %}
     <h2>Pending Reservations</h2>
    <div class="member-reservations-mobile member-reservations">
        {% for flight_reservation in pending_reservations %}
            {% include "account_profile/flight_lists/flight-reservation-entry_team.html" with reservation_entry=flight_reservation %}

            {% comment %}
                zen8bit:
                    - I'm new to the project so I don't know the difference between the entries for 'team' and 'member'.
                    - Most likely they're the same and member is just a deprecated version of team.
                    - If thats not the case, replace the include from above with the include in this comment. (2 occurances on the page)

                {% include "account_profile/flight_lists/flight-reservation-entry_member.html" with reservation_entry=flight_reservation %}
            {% endcomment %}
        {% endfor %}
    </div>

    <!-- Desktop member reservations -->
    <table class="member-reservations-desktop member-reservations">
        <thead>
            <tr>
                <th>Member</th>
                <th>Flight No.</th>
                <th>Origin / Destination</th>
                <th>Date / Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for flight_reservation in pending_reservations %}
            <tr class="reservation-row {% if flight_reservation.is_cancelled %}cancelled{% else %}fadeIn{% endif %}">
                <td>
                    <div class="badge-wrap badge-left">
                        <div class="circle medium no-m" style="background:url({{ flight_reservation.primary_passenger.user.avatar_url }}) 0 0 no-repeat;background-size:100% 100%" id="avatar-image"></div>
                        {% if flight_reservation.flight.is_fun_flight %}
                        <div class="badge-wrap">
                            <figure class="funflight-solid"></figure>
                        </div>
                        {% elif flight_reservation.flight.is_promotional_flight %}
                        <div class="badge-wrap">
                            <figure class="promo-solid"></figure>
                        </div>
                        {% endif %}
                    </div>
                    <b>{{ flight_reservation.primary_passenger.userprofile.get_full_name }}</b>
                </td>
                <td class="t-gothic sky">{{ flight_reservation.flight.flight_number }}</td>
                <td class="t-gothic">
                    {{ flight_reservation.flight.origin.code}}
                    <figure class="flight-arrow-right-green spacer"></figure>
                    {{ flight_reservation.flight.destination.code }}
                </td>
                <td class="t-gothic sky">{{ flight_reservation.flight.local_departure|date:"d M / h:i A" }}</td>
                <td class="details-cell center"><a href="{% url 'reservation_detail' flight_reservation.id %}"><figure class="icon-info"></figure></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

      {% if unapproved_requests %}
                 <br>
                     <h2>PENDING RISE ANYWHERE REQUESTS</h2>
                 <br>
                <!-- Mobile member reservations -->
                <div class="member-reservations-mobile member-reservations">
                    {% for req in unapproved_requests %}
                        {% include "account_profile/flight_lists/flight-reservation-entry_unapproved.html" with unapproved_reservation_entry=req %}
                    {% endfor %}
                </div>

                <!-- Desktop member reservations -->
                <table class="member-reservations-desktop member-reservations">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Origin / Destination</th>
                            <th>Date / Time</th>
                            <th>Spots</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for req in unapproved_requests %}

                        <tr class="reservation-row fadeIn" data-member="{{ req.created_by.pk }}">
                            <td class="member-name-cell">
                               {% comment %} <div class="badge-wrap badge-left">
                                 <div class="circle medium no-m" style="background:url({{ flight_reservation.primary_passenger.user.avatar_url }}) 0 0 no-repeat;background-size:100% 100%" id="avatar-image"></div>

                                </div>{% endcomment %}
                                <b>{{ req.created_by.get_full_name }}</b>
                            </td>
                            <td class="t-gothic">
                                {{ req.origin_city.code}}
                                <figure class="member-flight-arrow spacer"></figure>
                                {{ req.destination_city.code}}
                            </td>
                            <td class="t-gothic sky upper">{% if req.is_round_trip %}
                                  {{ req.depart_date|date:"M d" }} {{ req.depart_when }}  - {{ req.return_date|date:"M d, Y" }} {{ req.return_when }}
                                {%  else %}
                                    {{ req.depart_date|date:"M d, Y" }} {{ req.depart_when }}
                                {% endif %}</td>
                            <td class="t-gothic sky"> I Need {{ req.seats }} spot{% if req.seats > 1 %}s{% endif %}<br>
                                Confirm after {{ req.seats_required }} spot{% if req.seats_required > 1 %}s{% endif %} are booked</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
</div>




<div class="center">
    {% if perms.accounts.can_book_team %}
    <a href="#" id="team_member_picker" class="button green mt20">Book A New Flight</a>
    {% else %}
    <a href="{% url 'book_from' %}" class="button green mt20">Book A New Flight</a>
    {% endif %}
    <a href="{% url 'dashboard' %}" class="return-to-profile">
        &#9664; Return To Dashboard
    </a>
</div>
</div>
</div>

{% include 'account_profile/team_member_picker_modal.html' with selected_user=member %}

{% endblock body %}


{% block javascript %}
{{ block.super }}
<script src="{% static 'js/binaryajax.min.js' %}"></script>
<script src="{% static 'js/exif.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/reservations.js' %}"></script>
{% endblock javascript %}
